
.nav {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 62px;
  background: white;
  border-radius: 6px 6px 0 0;
  box-shadow: 0 -1px 6px rgba(0,0,0,0.18);
  z-index: 100;
}

.nav-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  border: none;
  background: transparent;
  gap: 2px;
  font-size: 10px;
  cursor: pointer;
  color: #222;
}

.nav-icon {
  font-size: 24px;
  line-height: 1;
}

/* .nav-item.active {
  color: #c6a0ff;
} */

.nav-item:nth-child(1).active {
  color: var(--color-home);
}
.nav-item:nth-child(2).active {
  color: var(--color-transactions);
}

.nav-item:nth-child(3).active {
  color: var(--color-saving);
}

.nav-item:nth-child(4).active {
  color: var(--color-debts);
}

.nav-item:nth-child(5).active {
  color: var(--color-notifications);
}